<div class="accordion-item card mt-2">
    <span class="d-flex justify-content-between" id="accordionIconThree">
        <button type="button" class="accordion-button collapsed text-title text-blue fw-bold"
            data-bs-toggle="collapse" data-bs-target="#accordion-{{actividad.id}}" aria-expanded="false"
            aria-controls="accordionIcon-3">
            {% if not actividad.ind_base %}{{actividad.orden}}.{% else %}{%endif%}&nbsp; {{actividad.nombre}}
        </button>
    </span>
    <div id="accordion-{{actividad.id}}" class="accordion-collapse collapse" data-bs-parent="#accordionIcon">
        <div class="accordion-body">
            {% if actividad.tipo_entrada.tipo == 'textarea' %}
                {% include "alumno/proyecto/textarea.html" %}
            {% elif 'gantt' in actividad.nombre|lower %}
                {% include "alumno/proyecto/gantt.html" %}
            {% endif %}
        </div>
    </div>
</div>