<div class="card-body" style="background-color: var(--bs-body-bg);">
    {% for feedback in object_list %}
    <div class="card mt-2">
        <div class="card-body padding-10">
            <div class="accordion-item mt-2">
                <div class="comment accordion-button collapsed clickeable" data-bs-toggle="collapse"
                    data-bs-target="#accordion-{{ forloop.counter }}" aria-expanded="false"
                    aria-controls="accordion-{{ forloop.counter }}" id="headingOne">
                    <span class="tex-primary "
                    style="font-size: 10px !important;position: absolute;top: 1px;right: 5px;">
                    {% if feedback.usuario.id != request.user.id %}{{feedback.usuario.get_full_name}}{% else %}Yo{% endif %} - {{feedback.timpo_desde}}
                    </span>
                    <span class="mt-2">{{feedback.comentario|title}}</span>
                </div>
                <div id="accordion-{{ forloop.counter }}" class="accordion-collapse collapse"
                    data-bs-parent="#accordionExample">
                    {% if feedback.hijos %}
                    <div class="accordion-body">
                        {% for hijo in feedback.hijos %}
                            {% if hijo.usuario.id != request.user.id %}
                            <div class="bs-toast toast fade show bg-danger mt-4 mb-3" role="alert" aria-live="assertive"
                                aria-atomic="true" style="float: left !important;width: 90%;font-size: 12px;">
                                <div class="toast-header">
                                    <i class="bx bx-bell me-2"></i>
                                    <div class="me-auto fw-semibold">{% if hijo.usuario.id != request.user.id %}{{hijo.usuario.get_full_name}}{% else %}Yo{% endif %}</div>
                                    <small>{{hijo.timpo_desde}}</small>
                                    <div class="comment-balloon comment-balloon-left"></div>
                                </div>
                                <div class="toast-body">
                                    {{hijo.comentario|title}}
                                </div>
                            </div>
                            {% else %}
                            <div class="bs-toast toast fade show bg-info mt-4 mb-3" role="alert" aria-live="assertive"
                                aria-atomic="true" style="float: right !important;width: 90%;font-size: 12px;">
                                <div class="toast-header">
                                    <i class="bx bx-bell me-2"></i>
                                    <div class="me-auto fw-semibold">{% if hijo.usuario.id != request.user.id %}{{hijo.usuario.get_full_name}}{% else %}Yo{% endif %}</div>
                                    <small>{{hijo.timpo_desde}}</small>
                                    <div class="comment-balloon comment-balloon-right"></div>
                                </div>
                                <div class="toast-body">
                                    {{hijo.comentario|title}}
                                </div>
                            </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    {% endif %}
                    <div class="accordion-footer mt-2">
                        <form action="" method="post" class="form_responder_comentario">
                            {% csrf_token %}
                            <div class="mb-3">
                                <textarea class="form-control" name="nueva_pregunta" rows="3"
                                    style="resize: none;"></textarea>
                            </div>
                            <div class="mb-3">
                                <button type="button" class="btn btn-info btn_responder_comentario float-end" value="{{feedback.id}}">
                                    <span class="tf-icons bx bx-send"></span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>