<div class="modal-header">
    <h5 class="modal-title text-primary fw-bold text-uppercase" id="exampleModalLabel4">Nueva 
        {% if actividad.tipo_entrada.ind_archivo and 'gantt' not in actividad.nombre|lower %}
        {{actividad.nombre}}
        {% else %}
        Tarea
        {% endif %}
        </h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="modal-body">
    <form method="post" autocomplete="off">
        {% csrf_token %}
        <div class="row g-2">
            {% for input in form.visible_fields %}
            <div class="col-12 mb-0">
                <label for="{{input.name}}" class="form-label"> {{input.label}}</label>
                {{input}}
            </div>
            {% endfor %}
            {% for input in form.hidden_fields %}
                {{ input }}
            {% endfor %}
        </div>
    </form>
</div>