<div class="col-md-6 col-sm-12">
    <div class="card overflow-hidden mb-4" style="height: 300px;">
      <h5 class="card-header"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Barra de desplazamiento horizontal</font></font></h5>
      <div class="card-body ps ps--active-x" id="horizontal-example">
        <img src="../assets/img/backgrounds/18.jpg" alt="imagen de la barra de desplazamiento">
      <div class="ps__rail-x" style="width: 591px; left: 1378.4px; bottom: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 414px; width: 177px;"></div></div><div class="ps__rail-y" style="top: 0px; right: -1378.4px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div></div></div>
    </div>
  </div>