<div class="modal-header">
  <h5 class="modal-title text-primary fw-bold text-uppercase" id="exampleModalLabel4">Nueva 
      {% if actividades_seccion.0.tipo_entrada.ind_archivo and 'gantt' not in actividades_seccion.0.nombre|lower %}
      {{actividades_seccion.0.tipo_entrada.nombre}}
      {% else %}
      Tarea
      {% endif %}
      </h5>
  <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="modal-body">
  <form method="post" autocomplete="off" enctype="multipart/form-data">
      {% csrf_token %}
      <input type="hidden" name="actividad_id" value="{{actividades_seccion.0.id}}">
      <div class="row">
        
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="mt-2 mb-3">
            <label for="nombre_archivo_actividad" class="form-label">Nombre de la {{actividades_seccion.0.tipo_entrada.nombre}} <span class="text-danger obligatorio">*</span></label>
            <input id="nombre_archivo_actividad" name="nombre_archivo_actividad" class="form-control form-control" type="text" required>
          </div>
        </div>
        
      </div>
      
      <div class="row mt-3 input_image_row">
        <label for="largeInput" class="form-label">Archivo <span class="text-danger obligatorio">*</span></label>
        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 ">
          <div class="text-muted input_image_description">No ha subido archivo</div>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
          <label for="archivo_actividad" class="form-label">
            <input class="form-control" type="file" id="archivo_actividad" name="actividad_valor" accept="image/png, image/gif, image/jpeg" required>
            <i class="bx bx-image-add bx-2-5"></i>
          </label>
        </div>
      </div>
  </form>
</div>