{% load static %}
<div class="d-flex align-items-start align-items-sm-center gap-4">
  <img src="{% static 'assets\img\avatars\sin_imagen.png' %}" alt="user-avatar" class="d-block rounded" height="400"
    width="900" id="uploadedAvatar">
  <div class="button-wrapper">
    <label for="upload" class="btn btn-primary me-2 mb-4" tabindex="0">
      <span class="d-none d-sm-block">Subir imagen</span>
      <i class="bx bx-upload d-block d-sm-none"></i>
      <input type="file" id="upload" class="account-file-input" hidden="" accept="image/png, image/jpeg">
    </label>
    <p class="text-muted mb-0">Se admiten archivos JPG, GIF o PNG.</p>
  </div>
</div>
<script>
  "use strict";
  document.addEventListener("DOMContentLoaded", function (e) {
    {
      let e = document.getElementById("uploadedAvatar");
      const t = document.querySelector(".account-file-input"), c = document.querySelector(".account-image-reset");
      if (e) {
        const n = e.src;
        t.onchange = () => {
          t.files[0] && (e.src = window.URL.createObjectURL(t.files[0]))
        }
      }
      return
    }
  });

</script>