{% extends 'layouts/base.html' %}
{% load static %}
{% block modal %}
{% include "alumno/proyecto/offcanvas.html" %}
{% endblock modal%}
{% block breackcrum%}
{{breackcrum|safe}}
{% endblock breackcrum%}
{% block content %}
<script>
    let summernote_list = []
</script>
{% if not actividad_enviada %}
<div class="card mt-2">
    <div class="card-header">
        <h5 class="card-title text-primary fw-bold text-uppercase">proyecto</h5>
    </div>
    <div class="card-body mt-2">
        <div class="row">
            <div class="col-xs-2 col-lg-2 col-md-2 col-sm-6">
                <h6 class="text-title m-l-10 text-start text-blue fw-bold">Nombre:</h6>
            </div>
            <div class="col-xs-2 col-lg-4 col-md-4 col-sm-6">
                <h6 class="text-title m-l-10 text-start">{{object_list.nombre}}</h6>
            </div>
            <div class="col-xs-2 col-lg-2 col-md-2 col-sm-6">
                <h6 class="text-title m-l-10 text-start text-blue fw-bold">período:</h6>
            </div>
            <div class="col-xs-2 col-lg-4 col-md-4 col-sm-6">
                <h6 class="text-title m-l-10 text-start">{{object_list.periodo}}</h6>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-2 col-lg-2 col-md-2 col-sm-4">
                <h6 class="text-title m-l-10 text-start text-blue fw-bold">Reseña:</h6>
            </div>
            <div class="col-xs-10 col-lg-10 col-md-10 col-sm-8">
                <h6 class="text-title m-l-10 text-start word-wrap">{{object_list.descripcion}}</h6>
            </div>
        </div>
    </div>
</div>
{% endif %}
<input type="hidden" name="proyecto_id" id="proyecto_id" value="{{object_list.id}}">
<div class="card mt-2">
    <div class="card-body">
        {% if actividades_seccion|length > 1 %}
            {% for actividad in actividades_seccion %}
            <div class="shadow mt-2 p-2">
                <a href="{{request.path}}?actividad={{actividad.id}}" class="accordion-button collapsed text-title text-blue fw-bold">
                    {% if not actividad.ind_base %}{{actividad.orden}}.{% else %}{%endif%}&nbsp; {{actividad.nombre}}
                </a>
            </div>
            {% endfor %}
        {% else %}
            {% for actividad in actividades_seccion %}
                <script>
                    let archivos_list = {% if actividad.respuesta.respuesta %}{{actividad.respuesta_formateada|safe}}{%else%}[]{%endif%}
                </script>
                <div class="card-header">
                    <h5 class="card-title text-blue fw-bold text-uppercase
                    {% if actividad.descripcion != '-' and actividad.descripcion != '' and actividad.descripcion is not None%}btn_info clickeable{% endif %}"
                    {% if actividad.descripcion != '-' and actividad.descripcion != '' and actividad.descripcion is not None%}
                    titulo="Descripción" info="{{actividad.descripcion |lower|capfirst  }}" title="Incluye descripción" 
                    {% endif %}
                    >{% if not actividad.ind_base %}{{actividad.orden_formateado}}{% else %}{%endif%} {{actividad.nombre}}
                    {% if actividad.descripcion != '-' and actividad.descripcion != '' and actividad.descripcion is not None%}
                    &nbsp;<i class="bx bx-info-circle bx-1-3" style="vertical-align: inherit !important;"></i>
                    {% endif %}
                </h5>
                </div>
                <form action="{{request.path}}" method="post" class="no-card" id="form_responder_actividad">
                    <input type="hidden" name="actividad_id" value="{{actividad.id}}">
                    {% csrf_token %}
                    {% if not actividad.tipo_entrada.ind_archivo and not actividad.tipo_entrada.ind_multiple and 'gantt' not in actividad.nombre|lower %}
                        {% include "alumno/proyecto/textarea.html" %}
                    {% elif 'gantt' in actividad.nombre|lower %}
                        {% include "alumno/proyecto/gantt.html" %}
                    {% elif actividad.tipo_entrada.ind_archivo and actividad.tipo_entrada.ind_multiple %}
                        {% include "alumno/proyecto/tabla.html" %}
                    {% endif %}
                </form>
                <div class="card-footer">
                    <div class="btn-footer-table">
                        {% if not actividad.tipo_entrada.ind_archivo and not actividad.tipo_entrada.ind_multiple and 'gantt' not in actividad.nombre|lower %}
                        <button class="btn rounded-circle bx-1-3 btn-primary btn-flotante top-160 right-30" id="btn_guardar_actividad"><i class="bx bx-save"></i></button>
                        {% elif 'gantt' in actividad.nombre|lower %}
                        <button class="btn rounded-circle bx-1-3 btn-primary btn-flotante top-160 right-30" id="btn_agregar_tarea">
                            <i class="bx bx-plus"></i>
                        </button>
                        {% elif actividad.tipo_entrada.ind_archivo and actividad.tipo_entrada.ind_multiple %}
                        <a class="btn rounded-circle bx-1-3 btn-primary btn-flotante top-160 right-30 text-white" style="padding: 11px !important;" id="btn_agregar_archivos" tipo="{{actividad.tipo_entrada.formato}}">
                            <i class="bx bx-plus"></i>
                        </a>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock content %}
{% block script %}
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>

<script src="{% static 'udla/js/alumno/proyecto/index.js' %}"></script>
<script>
    
</script>
{% endblock script %}