<div class="mt-3">
    <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasEnd" aria-controls="offcanvasEnd"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Alternar fin</font></font></button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasEnd" aria-labelledby="offcanvasEndLabel" aria-hidden="true" style="visibility: hidden;">
      <div class="offcanvas-header">
        <h5 id="offcanvasEndLabel" class="offcanvas-title"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Final fuera del lienzo</font></font></h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Cerca"></button>
      </div>
      <div class="offcanvas-body my-auto mx-0 flex-grow-0">
        <p class="text-center"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Lorem ipsum, o lipsum como se le conoce a veces, es un texto ficticio que se utiliza para diseñar diseños impresos, gráficos o web. </font><font style="vertical-align: inherit;">El pasaje se atribuye a un tipógrafo desconocido en el siglo XV que se cree que mezcló partes de De Finibus Bonorum et Malorum de Cicerón para usarlas en un libro de muestras tipográficas.</font></font></p>
        <button type="button" class="btn btn-primary mb-2 d-grid w-100"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Continuar</font></font></button>
        <button type="button" class="btn btn-outline-secondary d-grid w-100" data-bs-dismiss="offcanvas"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Cancelar</font></font></button>
      </div>
    </div>
  </div>