<div class="offcanvas offcanvas-end" tabindex="-1" id="mdl_modulo" aria-labelledby="offcanvasEndLabel"
    aria-hidden="true" style="visibility: hidden;">
    <div class="offcanvas-body mx-0 flex-grow-0">
        <div id="contenido"></div>
        <div id="contenido-archivos" style="display: none;">
            {% include "alumno/proyecto/archivos.html" %}
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="offcanvas">
                cancelar
            </button>
            <button type="button" class="btn btn-primary btn_accion">Guardar</button>
        </div>
    </div>
</div>