<input type="file" id="archivo_subido" style="display: none;" onchange="uploadImage(event)"/>

<div class="table-responsive">
    <table class="table table-bordered w-100" id="tabla_archivos" >
        <thead>
            <tr>
                <th class="text-start" width="20%">ENUNCIADO</th>
                <th class="text-start" width="60%">NOMBRE</th>
                <th class="text-center" width="10%">VER</th>
                <th class="text-center" width="10%">ELIMINAR</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>