<div class="modal-header">
    <h5 class="modal-title text-primary fw-bold text-uppercase" id="exampleModalLabel4">Crear sección</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <form method="post" id="form_crear_seccion">
        {% csrf_token %}
        <div class="row g-2">
            {% for input in form.visible_fields %}
            <div class="col-12 mb-0">
                <label for="{{input.name}}" class="form-label"> {{input.label}}</label>
                {{input}}
            </div>
            {% endfor %}
            {% for input in form.hidden_fields %}
                {{ input }}
            {% endfor %}

        </div>
        <div class="row g-2">
            <div class="form-check mt-3">
                <input class="form-check-input" type="checkbox" value="1" id="chk_configuracion_base" name="chk_configuracion_base">
                <label class="form-check-label btn_info clickeable" for="chk_configuracion_base" 
                titulo="Descripción" info="Esta opción asignara las actividades predefinidas por el sistema a la sección " title="Incluye descripción">
                  Usa configuración base
                </label>
              </div>
        </div>
    </form>
</div>