<div class="modal-header">
    <h5 class="modal-title text-primary fw-bold text-uppercase" id="exampleModalLabel4">Administrar sección</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    {% csrf_token %}
    <div class="row">
        <div class="col-12">
            <div class="table-responsive">
                <div class="form-group w-50"  id="div_cmb_profesor">
                    <label for="cmb_profesor" class="control-label">Buscar profesor</label>
                    <input id="cmb_profesor" class="w-100"></input>
                </div>
                <table class="table table-bordered mt-4 w-100" id="tbl_administrar_profesor">
                    <thead>
                        <tr>
                            <th style="width: 20%;">RUT</th>
                            <th>NOMBRE</th>
                            <th  style="width: 20%;" class="text-center">Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="odd">
                            <td valign="top" colspan="3" class="text-center">
                                No existe información disponible, por el momento.
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row ">
        <div class="col-12 mt-5">
            <div class="table-responsive">
                <div class="form-group w-50" id="div_cmb_alumno">
                    <label for="cmb_alumno" class="control-label">Buscar alumno</label>
                    <input id="cmb_alumno" class="w-100"></input>
                </div>
                <table class="table table-bordered mt-4" style="width: 100%;" id="tbl_administrar_alumno">
                    <thead>
                        <tr>
                            <th style="width: 20%;">RUT</th>
                            <th>NOMBRE</th>
                            <th  style="width: 20%;" class="text-center">Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="odd">
                            <td valign="top" colspan="3" class="text-center">
                                No existe información disponible, por el momento.
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
