{% extends 'layouts/base.html' %}
{% load static %}
{% block modal %}
{% comment %}{% include 'detalle/mdl_detalle_ppto.html' %}{% endcomment %}
{% endblock modal%}
{% block content %}

{% if request.session.perfil_activo|lower == 'administrador'%}
<div class="row">
  <div class="col-lg-8 mb-4 order-0">
    <div class="card">
      <div class="d-flex align-items-end row">
        <div class="col-sm-7">
          <div class="card-body">
            <h5 class="card-title text-primary">Bienvenid@ {{ request.user.get_full_name|title }}! 🎉</h5>
            <p class="mb-4"><br><br>
            </p>
          </div>
        </div>
        <div class="col-sm-5 text-center text-sm-left">
          <div class="card-body pb-0 px-0 px-md-4">
            <img src="{% static 'assets/img/illustrations/man-with-laptop-light.png' %}" height="140"
              alt="View Badge User" data-app-dark-img="illustrations/man-with-laptop-dark.png"
              data-app-light-img="illustrations/man-with-laptop-light.png" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 order-2 mb-4">
    <div class="card">
      <div class="card-header d-flex align-items-center justify-content-between">
        <h5 class="card-title m-0 me-2">5 ultimos cambios</h5>
      </div>
      <div class="card-body">
        <ul class="p-0 m-0">
          {% for tr in transacciones %}
          <li class="d-flex mb-4 pb-1">
            <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
              <div class="me-2">
                <small class="text-muted d-block mb-1">{{tr.name}}</small>
                <h6 class="mb-0">{{tr.fecha}}</h6>
              </div>
              <div class="user-progress d-flex align-items-center gap-1">
                <h6 class="mb-0">{{tr.accion_nombre}}</h6> en
                <span class="text-muted">{{tr.modelo.name|title}}</span>
              </div>
            </div>
          </li>
          {% empty %}
          <li class="d-flex mb-4 pb-1">
            <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
              <div class="user-progress d-flex align-items-center gap-1">
                <h6 class="mb-0">Sin registro de movimientos</h6>
              </div>
            </div>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
{% elif request.session.perfil_activo|lower == 'profesor'%}
<div class="row">
  <div class="col-lg-8 mb-4 order-0">
    <div class="row">
      <div class="col-lg-12 order-2 order-md-3 order-lg-2 mb-4 h-100">
        <div class="card">
          <div class="d-flex align-items-end row">
            <div class="col-sm-7">
              <div class="card-body">
                <h5 class="card-title text-primary">Bienvenid@ {{ request.user.get_full_name|title }}! 🎉</h5>
                <p class="mb-4">
                  {% if request.session.cantidad_perfiles == 0 %}
                  Te hemos asignado el perfil de invitado, ya que no has sido dado de alta en este sistema.
                  {% else %}
                  Tus estudiantes tienen nuevos avances para ti.
                  {% endif%}
                </p>
              </div>
            </div>
            <div class="col-sm-5 text-center text-sm-left">
              <div class="card-body pb-0 px-0 px-md-4">
                <img src="{% static 'assets/img/illustrations/man-with-laptop-light.png' %}" height="140"
                  alt="View Badge User" data-app-dark-img="illustrations/man-with-laptop-dark.png"
                  data-app-light-img="illustrations/man-with-laptop-light.png" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12 order-2 order-md-3 order-lg-2 mb-4 h-100">
        <div class="card h-100">
          <h5 class="card-header">PROYECTO DE TÍTULO<br>ACI594-480 (NRC: 1013)</h5>
          <div class="card-body">
            <div class="table-responsive text-nowrap">
              <table class="table w-100">
                <thead>
                  <tr>
                    <th class="column_order">rut</th>
                    <th class="column_order">nombre completo</th>
                    <th class="text-center column_order">Detalle</th>
                  </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                  {% for usuario in lista_alumnos %}
                  <tr>
                    <td>
                      <strong>{{usuario.rut | upper}}</strong>
                    </td>
                    <td>{{usuario.nombre_completo| upper}}</td>
                    <td class="text-center">
                      <i class='bx bx-search text-success clickeable btn_actualizar_usuario' usuario='{{usuario.id}}'></i>
                    </td>
                  </tr>
                  {% endfor %}
                  <tr>
                    <td>
                      <strong>17373332-1</strong>
                    </td>
                    <td>CARLOS MARÍN GONZÁLEZ</td>
                    <td class="text-center">
                      <i class='bx bx-search text-success clickeable btn_actualizar_usuario' usuario='{{usuario.id}}'></i>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <strong>15956019-8</strong>
                    </td>
                    <td>SERGIO FLORES LEIVA</td>
                    <td class="text-center">
                      <i class='bx bx-search text-success clickeable btn_actualizar_usuario' usuario='{{usuario.id}}'></i>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 order-1">
    <div class="card h-100" style="max-height: 545px !important;">
      <div class="card-header d-flex align-items-center justify-content-between pb-0">
        <div class="card-title mb-0">
          <h5 class="m-0 me-2">Avances de la sección</h5>
          <small class="text-muted">10 alumnos</small>
        </div>
      </div>
      <div class="card-body">
        <div class="d-flex justify-content-center align-items-center mb-3">
          <div class="d-flex flex-column align-items-center gap-1">
            <h2 class="mb-2">75%</h2>
            <span>Completo x la sección</span>
          </div>
        </div>
        <ul class="p-0 m-0">
          <li class="d-flex mb-4 pb-1">
            <div class="avatar flex-shrink-0 me-3">
              <span class="avatar-initial rounded bg-label-primary"><i class='bx bxs-business'></i></span>
            </div>
            <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
              <div class="me-2">
                <h6 class="mb-0">ASPECTOS DE LA EMPRESA</h6>
                <small class="fw-semibold">10 alumnos de 10</small>
              </div>
            </div>
          </li>
          <li class="d-flex mb-4 pb-1">
            <div class="avatar flex-shrink-0 me-3">
              <span class="avatar-initial rounded bg-label-success"><i class='bx bxl-product-hunt'></i></i></span>
            </div>
            <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
              <div class="me-2">
                <h6 class="mb-0">SITUACIÓN ACTUAL DEL PROYECTO</h6>
                <small class="fw-semibold">9 alumnos de 10</small>
              </div>
            </div>
          </li>
          <li class="d-flex mb-4 pb-1">
            <div class="avatar flex-shrink-0 me-3">
              <span class="avatar-initial rounded bg-label-info"><i class='bx bxl-sketch'></i></span>
            </div>
            <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
              <div class="me-2">
                <h6 class="mb-0">PLANTEAMIENTO DE OBJETIVOS</h6>
                <small class="fw-semibold">7 alumnos de 10</small>
              </div>
            </div>
          </li>
          <li class="d-flex mb-4 pb-1">
            <div class="avatar flex-shrink-0 me-3">
              <span class="avatar-initial rounded bg-label-secondary"><i class='bx bxs-factory'></i></span>
            </div>
            <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
              <div class="me-2">
                <h6 class="mb-0">ESTUDIO DE FACTIBILIDAD Y GESTIÓN DE RIESGOS</h6>
                <small class="fw-semibold">6 alumnos de 10</small>
              </div>
            </div>
          </li>
        </ul>
        <i class='bx bxs-chevrons-right float-end'></i>
        <br>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12 order-2 order-md-3 order-lg-2 mb-4 h-100">
    <div class="card">
      <h5 class="card-header m-0 me-2 pb-3">Avances totales x mes</h5>
      <div id="totalRevenueChart" class="px-2"></div>
    </div>
  </div>
</div>
{% else %}
<div class="row">
  <div class="col-lg-8 mb-4 order-0">
    <div class="row">
      <div class="col-lg-12 order-2 order-md-3 order-lg-2 mb-4 h-100">
        <div class="card">
          <div class="d-flex align-items-end row">
            <div class="col-sm-7">
              <div class="card-body">
                <h5 class="card-title text-primary">Bienvenid@ {{ request.user.get_full_name|title }}! 🎉</h5>
                <p class="mb-4">
                  {% if request.session.cantidad_perfiles == 0 %}
                  Te hemos asignado el perfil de invitado, ya que no has sido dado de alta en este sistema.
                  {% else %}
                  Tienes un <span class="fw-bold">100%</span> de tu informe completado.
                  {% endif%}
                </p>
              </div>
            </div>
            <div class="col-sm-5 text-center text-sm-left">
              <div class="card-body pb-0 px-0 px-md-4">
                <img src="{% static 'assets/img/illustrations/man-with-laptop-light.png' %}" height="140"
                  alt="View Badge User" data-app-dark-img="illustrations/man-with-laptop-dark.png"
                  data-app-light-img="illustrations/man-with-laptop-light.png" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12 order-2 order-md-3 order-lg-2 mb-4 h-100">
        <div class="card">
          <h5 class="card-header m-0 me-2 pb-3">Trabajo x mes</h5>
          <div id="totalRevenueChart" class="px-2"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 order-1">
    <div class="card h-100" style="max-height: 567px !important;">
      <div class="card-header d-flex align-items-center justify-content-between pb-0">
        <div class="card-title mb-0">
          <h5 class="m-0 me-2">Detalle del avance</h5>
          <small class="text-muted">8 fases</small>
        </div>
      </div>
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-center mb-3">
          <div class="d-flex flex-column align-items-center gap-1">
            <h2 class="mb-2">46</h2>
            <span>actividades</span>
          </div>
          <div id="orderStatisticsChart"></div>
        </div>
        <ul class="p-0 m-0">
          <li class="d-flex mb-4 pb-1">
            <div class="avatar flex-shrink-0 me-3">
              <span class="avatar-initial rounded bg-label-primary"><i class='bx bxs-business'></i></span>
            </div>
            <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
              <div class="me-2">
                <h6 class="mb-0">ASPECTOS DE LA EMPRESA</h6>
                <small class="fw-semibold">4 de 4</small>
              </div>
            </div>
          </li>
          <li class="d-flex mb-4 pb-1">
            <div class="avatar flex-shrink-0 me-3">
              <span class="avatar-initial rounded bg-label-success"><i class='bx bxl-product-hunt'></i></i></span>
            </div>
            <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
              <div class="me-2">
                <h6 class="mb-0">SITUACIÓN ACTUAL DEL PROYECTO</h6>
                <small class="fw-semibold">6 de 6</small>
              </div>
            </div>
          </li>
          <li class="d-flex mb-4 pb-1">
            <div class="avatar flex-shrink-0 me-3">
              <span class="avatar-initial rounded bg-label-info"><i class='bx bxl-sketch'></i></span>
            </div>
            <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
              <div class="me-2">
                <h6 class="mb-0">PLANTEAMIENTO DE OBJETIVOS</h6>
                <small class="fw-semibold">2 de 2</small>
              </div>
            </div>
          </li>
          <li class="d-flex mb-4 pb-1">
            <div class="avatar flex-shrink-0 me-3">
              <span class="avatar-initial rounded bg-label-secondary"><i class='bx bxs-factory'></i></span>
            </div>
            <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
              <div class="me-2">
                <h6 class="mb-0">ESTUDIO DE FACTIBILIDAD Y GESTIÓN DE RIESGOS</h6>
                <small class="fw-semibold">4 de 4</small>
              </div>
            </div>
          </li>
        </ul>
        <i class='bx bxs-chevrons-right float-end'></i>
        <br>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-6 mb-4">
    <div class="card">
      <div class="card-body">
        <div class="card-title d-flex align-items-start justify-content-between">
          <div class="avatar flex-shrink-0">
            <img src="{% static 'assets/img/icons/unicons/chart-success.png' %}" alt="chart success" class="rounded" />
          </div>
        </div>
        <span class="fw-semibold d-block mb-1">Mi avance por fase</span>
        <h3 class="card-title mb-2 text-success fw-semibold"><i class="bx bx-up-arrow-alt"></i> 100%</h3>
      </div>
    </div>
  </div>
  <div class="col-6 mb-4">
    <div class="card">
      <div class="card-body">
        <div class="card-title d-flex align-items-start justify-content-between">
          <div class="avatar flex-shrink-0">
            <img src="{% static 'assets/img/icons/unicons/chart-success.png' %}" alt="chart success" class="rounded" />
          </div>
        </div>
        <span class="fw-semibold d-block mb-1">Mi avance por actividad</span>
        <h3 class="card-title mb-2 text-success fw-semibold"><i class="bx bx-up-arrow-alt"></i> 100%</h3>
      </div>
    </div>
  </div>
</div>

{% endif %}
{% endblock content %}
{% block script %}
{% endblock script %}