{% extends 'layouts/base.html' %}
{% load static %}
{% block modal %}
{% include "mantenedor/proyecto/mdl_crud_proyecto.html" %}
{% endblock modal%}
{% block content %}
<div class="card overflow-hidden">
  <h5 class="card-header">Lista de secciones docente</h5>
  <form method="get" action="{{ request.path }}" class="card-body demo-vertical-spacing demo-only-element">
    <div class="card-body demo-vertical-spacing demo-only-element">
      <div class="input-group" style="position: absolute;right: 20px !important;max-width: 300px !important;">
        <input type="text" class="form-control" aria-describedby="button-addon2" name="filter"/>
        <button class="btn btn-outline-primary" type="submit">Filtrar</button>
      </div>
    </div>
  </form>
  <div class="card-body">
    <div class="table-responsive text-nowrap">
      <table class="table table-bordered" id="lista_actividad">
        <thead>
          <tr>
            <th>Sección</th>
            <th>Asignatura</th>
            <th>Semestre / Año</th>
            <th>Detalle alumnos</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <strong>ACI594-480</strong>
            </td>
            <td>Proyecto de título</td>
            <td class="text-center">
              2 / 2022
            </td>
            <td class="text-center">
              <i class='bx bx-search text-success clickeable ' href="/lista/alumnos/"></i>
            </td>
          </tr>
          <tr>
            <td>
              <strong>ACI594-380</strong>
            </td>
            <td>Proyecto de título</td>
            <td class="text-center">
              2 / 2021
            </td>
            <td class="text-center">
              <i class='bx bx-search text-success clickeable ' href="/lista/alumnos/"></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="card-footer">
    {% include "layouts/paginate.html" %}
    <div class="btn-footer-table">
      <button class="btn btn-primary" id="btn_crear_usuario">Nuevo</button>
    </div>
  </div>
</div>

{% endblock content %}
{% block script %}
<script src="{% static 'udla/js/mantenedor/usuario/index.js' %}"></script>
{% endblock script %}