{% extends 'layouts/base.html' %}
{% load static %}
{% block modal %}
{% endblock modal%}
{% block content %}
<div class="card overflow-hidden">
  <div class="card-header">
    <h5 class="card-title text-primary fw-bold text-uppercase">Mis secciones</h5>
    <form method="get" action="{{ request.path }}" class="demo-vertical-spacing demo-only-element form-inline" autocomplete="off">
      <input type="hidden" name="configuration" id="configuration" value="">
      <input type="hidden" name="selected" id="selected" value="">
      <div class="form-row">
        <div class="form-group col-md-4">
          <select id="year" name="year" class="form-control" style="max-width: 120px !important;appearance: auto !important">
            {% for year in years%}
              <option value="{{year}}" {%if year_selected == year %}selected{%endif%}>{{year}}</option>
            {% endfor %}
          </select>
        </div>
        <div class="form-group col-md-2">
          <div class="input-group" style="position: absolute;right: 56px !important;max-width: 300px !important;">
            <input type="text" class="form-control" aria-describedby="button-addon2" name="filter" value="{{filter|default:''}}"/>
            <button class="btn btn-outline-primary" type="submit">Filtrar</button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="card-body">
    <div class="table-responsive text-nowrap">
      <table class="table table-bordered" id="lista_seccion">
        <thead>
          <tr>
            <th>código</th>
            <th class="text-center">semestre</th>
            <th class="text-center">fecha_desde</th>
            <th class="text-center">fecha_hasta</th>
            <th class="text-center">alumnos</th>
            <th class="text-center">actividades</th>
          </tr>
        </thead>
        <tbody>
          {% for seccion in object_list %}
          <tr>
            <td>
              <strong>{{seccion.codigo}}</strong>
            </td>
            <td class="text-center">{{seccion.semestre}}</td>
            <td class="text-center">{{seccion.fecha_desde |date:"d-m-Y"}}</td>
            <td class="text-center">{{seccion.fecha_hasta |date:"d-m-Y"}}</td>
            <td class="text-center">
              {% if seccion.con_alumnos%}
              <a href="/docente/seccion/{{seccion.id}}/participantes/">
                <i class='bx bxs-user text-info clickeable'></i>
              </a>
              {% else %}
              <i class='bx bxs-user text-gray no-clickeable' title="No tiene alumnos asignados"></i>
              {% endif %}
            </td>
            <td class="text-center">
              <a {% if seccion.con_actividades%}href="/docente/seccion/{{seccion.id}}/actividades/"{%endif%}>
                <i class='bx bxs-book-bookmark text-primary clickeable {% if not seccion.con_actividades%}btn_configuracion_base' seccion="{{seccion.id}}"{%else%}'{%endif%}></i>
              </a>
              
            </td>
          </tr>
          {%empty%}
          <tr>
            <td colspan="6" class="text-center">
              <strong>Sin información</strong>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="card-footer">
    {% include "layouts/paginate.html" %}
  </div>
</div>

{% endblock content %}
{% block script %}
<script src="{% static 'udla/js/docente/seccion/index.js' %}"></script>
{% endblock script %}