{% extends 'layouts/base.html' %}
{% load static %}
{% block modal %}
{% include "mantenedor/usuario/mdl_modulo.html" %}
{% endblock modal%}
{% block content %}
<div class="card">
  <div class="card-header">
    <h5 class="card-title text-primary fw-bold text-uppercase">Lista de usuarios</h5>
    <form method="get" action="{{ request.path }}" class="demo-vertical-spacing demo-only-element" id="form_filtro_orden">
      <div class="form-row">
        <div class="form-group col-md-2">
          <div class="input-group" style="position: absolute;right: 56px !important;max-width: 300px !important;">
            <input type="text" class="form-control" aria-describedby="button-addon2" name="filter" value="{{filter|default:''}}"/>
            <input type="hidden" class="form-control" aria-describedby="button-addon2" name="orden" />
            <button class="btn btn-outline-primary" type="submit">Filtrar</button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="card-body overflow-hidden mt-4 ml-2 mr-2">
    <div class="table-responsive text-nowrap">
      <table class="table table-bordered w-100" id="lista_usuarios">
        <thead>
          <tr>
            <th class="column_order clickeable">rut</th>
            <th class="column_order clickeable">nombre completo</th>
            <th class="column_order clickeable">correo</th>
            <th class="text-center column_order clickeable">perfil</th>
            <th class="text-center">Impersonar</th>
            <th class="text-center">Editar</th>
            <th class="text-center">habilitado</th>
          </tr>
        </thead>
        <tbody>
          {% for usuario in page_obj %}
          <tr>
            <td>
              <strong>{{usuario.rut | upper}}</strong>
            </td>
            <td>{{usuario.nombre_completo| upper}}</td>
            <td>{{usuario.correo| upper}}</td>
            <td class="text-center fw-bold">{{usuario.perfil| upper}}</td>
            <td class="text-center">
              <form action="/usuario/impersonar/" method="POST">
                <input type="hidden" name="usuario_id" value="{{usuario.id}}">
                {% csrf_token %}
                {% if usuario.is_staff%}
                <i class='bx bx-accessibility text-warning clickeable btn_impersonar_usuario'></i>
                {% else %}
                <i class='bx bx-accessibility text-gray'></i>
                {%endif%}
              </form>
            </td>
            <td class="text-center">
              <i class='bx bx-edit text-success clickeable btn_actualizar_usuario' usuario='{{usuario.id}}'></i>
            </td>
            <td class="text-center">
              <div class="form-check form-switch mt-2">
                <input class="form-check-input btn_habilitar_usuario" value="{{usuario.id}}" 
                type="checkbox" style="float: inherit !important;" {% if usuario.is_staff%}checked{%endif%} {% if usuario.id == request.user.id %}disabled {% endif %}/>
              </div>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="card-footer">
    {% include "layouts/paginate.html" %}
    <div class="btn-footer-table">
      <button class="btn btn-primary" id="btn_crear_usuario">Nuevo</button>
    </div>
  </div>
</div>

{% endblock content %}
{% block script %}
<script src="{% static 'udla/js/mantenedor/usuario/index.js' %}?q={{csrf_token}}"></script>
{% endblock script %}