{% load static %}
<div class="modal fade" id="mdl_modulo" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div id="contenido"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                    cancelar
                </button>
                <button type="button" class="btn btn-primary btn_accion"></button>
            </div>
        </div>
    </div>
</div>