{% extends 'layouts/base.html' %}
{% load static %}
{% block modal %}
{% include "docente/participantes/mdl_modulo.html" %}
{% endblock modal%}
{% block content %}
<div class="card overflow-hidden">
  <div class="card-header">
    <h5 class="card-title text-primary fw-bold text-uppercase">Alumnos de la sección</h5>
    <form method="get" action="{{ request.path }}" class="demo-vertical-spacing demo-only-element form-inline">
      <div class="form-row">
        <div class="form-group col-md-2">
          <div class="input-group" style="position: absolute;right: 56px !important;max-width: 300px !important;">
            <input type="text" class="form-control" aria-describedby="button-addon2" name="filter" value="{{filter|default:''}}"/>
            <button class="btn btn-outline-primary" type="submit">Filtrar</button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="card-body">
    <div class="table-responsive text-nowrap">
        <table class="table table-bordered" style="width: 100%;">
            <thead>
                <tr>
                    <th class="text-center" style="width: 10%;">RUT</th>
                    <th class="text-left">NOMBRE</th>
                    <th>CORREO</th>
                    <th style="width: 10%;" class="text-center">Proyecto</th>
                    <th style="width: 10%;" class="text-center">Estado</th>
                </tr>
            </thead>
            <tbody>
                {% for alumno_seccion in object_list %}
                <tr>
                    <td class="text-center" style="width: 10%;">
                        <strong>{{alumno_seccion.rut}}</strong>
                    </td>
                    <td class="text-left">{{alumno_seccion.nombre_completo}}</td>
                    <td class="text-left">{{alumno_seccion.correo}}</td>
                    <td class="text-center" style="width: 10%;">
                        {% if con_actividades and alumno_seccion.proyecto.cantidad_actividades_respondida_todas|default:0 > 0 and alumno_seccion.proyecto.is_aprobado %}
                        <a href="/docente/seccion/alumno/{{proyecto.id}}/actividades/" target="_blank">
                            <i class='bx bxs-detail bx-1-3 text-success clickeable'></i>
                        </a>
                        {% elif not con_actividades %}
                        <i class='bx bxs-detail  bx-1-3 text-gray no-clickeable' title="El docente no ha configurado actividades"></i>
                        {% elif not alumno_seccion.proyecto %}
                        <i class='bx bxs-detail bx-1-3 text-gray no-clickeable' title="El alumno no ha definido su proyecto"></i>
                        {% elif alumno_seccion.proyecto.is_pendiente %}
                        <i class='bx bx-confused bx-1-3 text-warning clickeable btn_aprobar' url='{{alumno_seccion.url}}' tipo="0" title="El proyecto pendiente de aprobacion"></i>
                        {% elif alumno_seccion.proyecto.is_rechazado %}
                        <i class='bx bx-dizzy bx-1-3 text-danger clickeable btn_aprobar' url='{{alumno_seccion.url}}' tipo="1" title="El proyecto fue rechazado"></i>
                        {% elif alumno_seccion.proyecto.cantidad_actividades_respondida_todas|default:0 == 0 %}
                        <i class='bx bxs-detail bx-1-3 text-gray no-clickeable' title="El alumno no ha iniciado con las actvidades del proyecto"></i>
                        {% endif %}
                        <td class="text-center {{alumno_seccion.clase}}">{{alumno_seccion.estado|upper}}</td>
                    </td>
                </tr>
                {%empty%}
                <tr>
                    <td colspan="4" class="text-center">
                        <strong>Sin información</strong>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
  </div>
  <div class="card-footer">
    {% include "layouts/paginate.html" %}
  </div>
</div>

{% endblock content %}
{% block script %}
<script src="{% static 'udla/js/docente/participantes/index.js' %}"></script>
{% endblock script %}