{% extends 'layouts/base.html' %}
{% load static %}
{% block modal %}
{% include "mantenedor/fase/mdl_modulo.html" %}
{% endblock modal%}
{% block content %}
<div class="card overflow-hidden">
  <h5 class="card-header content-header">Lista de fases</h5>
  <form method="get" action="{{ request.path }}" class="card-body demo-vertical-spacing demo-only-element">
    <div class="card-body demo-vertical-spacing demo-only-element">
      <div class="input-group" style="position: absolute;right: 20px !important;max-width: 300px !important;">
        <input type="text" class="form-control" aria-describedby="button-addon2" name="filter"/>
        <button class="btn btn-outline-primary" type="submit">Filtrar</button>
      </div>
    </div>
  </form>
  <div class="card-body">
    <div class="table-responsive text-nowrap">
      <table class="table table-bordered" id="lista_fase">
        <thead>
          <tr>
            <th>NOMBRE</th>
            <th class="text-center">DESCRIPCIÓN</th>
            <th class="text-center">Editar</th>
            <th class="text-center">Eliminar</th>
          </tr>
        </thead>
        <tbody>
          {% for fase in object_list %}
          <tr>
            <td>
              <strong>{{fase.nombre}}</strong>
            </td>
            <td class="text-justify text-wrap">{{fase.descripcion}}</td>
            <td class="text-center">
              <i class='bx bx-edit text-success clickeable btn_actualizar_fase' fase='{{fase.id}}'></i>
            </td>
            <td class="text-center">
              <i class='bx bx-x text-danger clickeable btn_eliminar_fase' fase='/mantenedor/fase/{{fase.id}}/eliminar/'></i>
            </td>
          </tr>
          {%empty%}
          <tr>
            <td colspan="6" class="text-center">
              <strong>Sin información</strong>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="card-footer">
    {% include "layouts/paginate.html" %}
    <div class="btn-footer-table">
      <button class="btn btn-primary" id="btn_crear_fase">Nuevo</button>
    </div>
  </div>
</div>

{% endblock content %}
{% block script %}
<script src="{% static 'udla/js/mantenedor/fase/index.js' %}"></script>
{% endblock script %}