
<input type="hidden" id="password-login">
<button id="microsoft-login" class="button" type="button"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">microsoft</font></font></button>
<script type="text/javascript" src="/static/microsoft/js/login.js"></script>
<script type="text/javascript">
    document.getElementById("microsoft-login").click();
    document.addEventListener("DOMContentLoaded",
                              function(event) {
                                window.microsoft.login = new window.microsoft.objects.LoginController({
                                  'authorization_url': 'https://login.microsoftonline.com/common/oauth2/v2.0/authorize?response_type=code&client_id=f62e6859-a5f4-47e3-9af5-0ec70e2ec10f&redirect_uri=http%3A%2F%2Flocalhost%3A8000%2Fmicrosoft%2Fauth-callback%2F&scope=User.Read+openid+email+profile&state=eyJ0b2tlbiI6IngyeWh0SFc1T0hSQmdJZDJRQUsyWFA5NnFmaUxnZVpDWUZnMWtjZnNqYlk5T09rNERYM0QxSjhSdDhJTVdjNVoiLCJuZXh0IjoiL2FkbWluLyJ9%3A1p1zAZ%3AEgo2QAzoyAQ3d-q4MPazuLujpGMzAS6w1S2oZeH3XZo&response_mode=form_post'
                                });
                              });
    </script>