<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel4">Actualizar actividad</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <form method="post" id="form_modificar_actividad" action="/mantenedor/actividad/{{actividad.id}}/actualizar/">
        {% csrf_token %}
        <div class="row g-2">
            {% for input in form %}
            <div class="col-12 mb-0">
                <label for="{{input.name}}" class="form-label"> {{input.label}}</label>
                {{input}}
            </div>
            {% endfor %}
        </div>
    </form>
</div>