{% extends 'layouts/base.html' %}
{% load static %}
{% block modal %}
{% include "docente/actividad/mdl_modulo.html" %}
{% endblock modal%}
{% block content %}
<input type="hidden" id="seccion" value="{{seccion}}">
<div class="card overflow-hidden">
  <h5 class="card-header content-header">Lista de actividads</h5>
  <form method="get" action="{{ request.path }}" class="card-body demo-vertical-spacing demo-only-element">
    <div class="card-body demo-vertical-spacing demo-only-element">
      <div class="input-group" style="position: absolute;right: 20px !important;max-width: 300px !important;">
        <input type="text" class="form-control" aria-describedby="button-addon2" name="filter" value="{{filter|default:''}}" id="filter" autofocus onload="SetCaretAtEnd()"/>
        <button class="btn btn-outline-primary" type="submit">Filtrar</button>
      </div>
    </div>
  </form>
  <div class="card-body">
    <div class="table-responsive text-nowrap">
      <table class="table table-bordered" id="lista_actividad">
        <thead>
          <tr>
            <th width="5%" class="text-center">N°</th>
            <th>NOMBRE</th>
            <th class="text-center">DESCRIPCIÓN</th>
            <th class="text-center">FASE</th>
            <th class="text-center">TIPO RESPUESTA</th>
            <th class="text-center">Editar</th>
            <th class="text-center">Eliminar</th>
          </tr>
        </thead>
        <tbody>
          {% for actividad in object_list %}
          <tr>
            <td class="text-justify text-wrap">{{actividad.orden}}</td>
            <td>
              <strong>{{actividad.nombre}}</strong>
            </td>
            <td class="text-justify text-wrap">{{actividad.descripcion}}</td>
            <td class="text-center text-wrap">{{actividad.fase |default_if_none:"-"}}</td>
            <td class="text-center text-wrap">{{actividad.tipo_entrada}}</td>
            <td class="text-center">
              <i class='bx bx-edit text-success clickeable btn_actualizar_actividad' actividad='/seccion/{{actividad.seccion.id}}/actividad/{{actividad.id}}/actualizar/'></i>
            </td>
            <td class="text-center">
              <i class='bx bx-x text-danger clickeable btn_eliminar_actividad' actividad='/docente/actividad/{{actividad.id}}/eliminar/'></i>
            </td>
          </tr>
          {%empty%}
          <tr>
            <td colspan="7" class="text-center">
              <strong>Sin información</strong>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="card-footer">
    {% include "layouts/paginate.html" %}
    <div class="btn-footer-table">
      <button class="btn btn-primary" id="btn_crear_actividad">Nuevo</button>
    </div>
  </div>
</div>

{% endblock content %}
{% block script %}
<script src="{% static 'udla/js/docente/actividad/index.js' %}"></script>
{% endblock script %}