{% extends 'layouts/base.html' %}
{% load static %}
{% block modal %}
{% include "docente/actividad/mdl_modulo.html" %}
{% endblock modal%}
{% block content %}
<input type="hidden" id="seccion" value="{{seccion}}">
<div class="card overflow-hidden">
  <div class="card-header">
    <h5 class="card-title text-primary fw-bold text-uppercase">Actividades de la sección</h5>
    <form method="get" action="{{ request.path }}" class="demo-vertical-spacing demo-only-element form-inline">
      <div class="form-row">
        <div class="form-group col-md-2">
          <div class="input-group" style="position: absolute;right: 56px !important;max-width: 300px !important;">
            <input type="text" class="form-control" aria-describedby="button-addon2" name="filter" value="{{filter|default:''}}"/>
            <button class="btn btn-outline-primary" type="submit">Filtrar</button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="card-body">
    <div class="table-responsive text-nowrap">
      <table class="table table-bordered" id="lista_actividad">
        <thead>
          <tr>
            <th width="10%" class="text-right">N°</th>
            <th>NOMBRE</th>
            <th class="text-left">DEPENDENCIA</th>
            <th class="text-center">TIPO RESPUESTA</th>
            <th class="text-center">Editar</th>
            <th class="text-center">Eliminar</th>
          </tr>
        </thead>
        <tbody>
          {% for actividad in object_list %}
          <tr>
            <td class="text-right">
              {% if not actividad.ind_base %}{{actividad.orden_formateado}}{% else %}{%endif%}</td>
            <td>
              <strong 
              {% if actividad.descripcion != '-' and actividad.descripcion != '' and actividad.descripcion is not None%}
              class="btn_info clickeable" titulo="Descripción" info="{{actividad.descripcion |lower|capfirst  }}" title="Incluye descripción"
              {% endif %}
              >{{actividad.nombre}}</strong>
            </td>
            <td class="text-left text-wrap">{{actividad.depende_de }}</td>
            <td class="text-center text-wrap">{{actividad.tipo_entrada|default:'-'}}</td>
            <td class="text-center">
              {% if not actividad.ind_base %}
              <i class='bx bx-edit text-success clickeable btn_actualizar_actividad' actividad='/seccion/{{actividad.seccion.id}}/actividad/{{actividad.id}}/actualizar/'></i>
              {% else %}-{%endif%}
            </td>
            <td class="text-center">
              {% if not actividad.ind_base %}
              <i class='bx bx-x text-danger clickeable btn_eliminar_actividad' actividad='/seccion/actividad/{{actividad.id}}/eliminar/'></i>
              {% else %}-{%endif%}
            </td>
          </tr>
          {%empty%}
          <tr>
            <td colspan="6" class="text-center">
              <strong>Sin información</strong>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="card-footer">
    <div class="btn-footer-table">
      <button class="btn btn-primary" id="btn_crear_actividad">Nuevo</button>
    </div>
  </div>
</div>

{% endblock content %}
{% block script %}
<script src="{% static 'udla/js/docente/actividad/index.js' %}"></script>
{% endblock script %}